.toolbar {
    pointer-events: all;
    border-radius: 9999px;
    backdrop-filter: blur(10px);
    background: var(--ui-glass-background);
    border: 1px solid hsla(0deg, 0%, 0%, 0.1);
    margin-bottom: 24px;

    .dark & {
        border: 1px solid hsla(0deg, 0%, 100%, 0.05);
    }
}
