.error-shape {
    background: linear-gradient(
        to bottom right,
        hsla(0deg, 100%, 80%, 0.4) 0%,
        hsla(20deg, 100%, 70%, 0.2) 100%
    );
    border: 1px solid hsla(20deg, 80%, 10%, 0.2);
    .dark & {
        background: linear-gradient(
            to bottom right,
            hsla(20deg, 80%, 20%, 0.3) 0%,
            hsla(40deg, 80%, 10%, 0.1) 100%
        );
        border: 1px solid hsla(20deg, 80%, 80%, 0.1);
    }
    color: #fffaf3;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.suggest-fix-button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 120px;
    align-self: flex-end;
}

.query-suggestion {
    padding: 8px;
    margin: 16px;
    background: hsla(0deg, 0%, 90%, 0.1);
    border-radius: 8px;
}
