.command-palette {
    --width: 600px;

    width: var(--width);
    position: absolute;
    z-index: 999;
    top: 80px;
    left: calc(50vw - var(--width) / 2);
    border-radius: 16px;
    border: 1px solid hsla(0deg, 0%, 100%, 0.05);
    animation: fadeIn 0.2s ease-in forwards;
    backdrop-filter: blur(20px);
    box-shadow:
        0px 2px 2px rgba(3, 7, 18, 0.05),
        0px 7px 7px rgba(3, 7, 18, 0.1),
        0px 15px 17px rgba(3, 7, 18, 0.14),
        0px 27px 29px rgba(3, 7, 18, 0.19),
        0px 42px 46px rgba(3, 7, 18, 0.24);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(20px);
    }
}

.query {
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 14px;
    background: var(--ui-glass-background);
    border: none;
    border-radius: 16px 16px 0 0;
    outline: none;
    color: var(--text-color);
    appearance: none;
    -webkit-appearance: none;
    &::placeholder {
        color: hsla(0deg, 0%, 40%, 0.5);

        .dark & {
            color: hsla(0deg, 0%, 90%, 0.3);
        }
    }
}

.output {
    color: var(--text-color);
    background: var(--ui-glass-background);
    padding: 16px;
    border-radius: 0 0 16px 16px;
    border-top: 1px solid hsla(0deg, 0%, 10%, 0.15);

    .dark & {
        border-top: 1px solid hsla(0deg, 0%, 90%, 0.05);
    }
}

.result {
    padding: 16px 24px;
    border-radius: 9999px;
    cursor: pointer;
    &.active,
    &:hover {
        background: hsla(0deg, 0%, 0%, 0.05);
    }

    .dark & {
        &.active,
        &:hover {
            background: hsla(0deg, 0%, 90%, 0.05);
        }
    }
}
