.page-menu {
    position: absolute;
    top: 60px;
    left: 20px;
    color: var(--text-color);
    cursor: pointer;
    pointer-events: all;
    border-radius: 9999px;
    backdrop-filter: blur(10px);
    border: 1px solid hsla(0deg, 0%, 100%, 0.05);
    padding: 8px 16px;
    background: var(--ui-glass-background);
    &:hover {
        background: var(--ui-glass-background);
    }
    white-space: nowrap;
    transition: background 0.2s ease-in;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    gap: 16px;
}

.page-name-input {
    font-size: 12px;
    padding: 8px 16px;
    background: transparent;
    border-radius: 9999px;
    border: none;
    border-bottom: 1px solid var(--border-base);
}

.edit-page-button {
    cursor: pointer;
}

.page-name {
    color: var(--text-color);
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 999px;
    &:hover {
        background: hsla(0deg, 0%, 40%, 0.1);
        .dark & {
            background: hsla(0deg, 0%, 90%, 0.05);
        }
    }
    &[data-active="true"] {
        background: hsla(0deg, 0%, 40%, 0.4);
        .dark & {
            background: hsla(0deg, 0%, 90%, 0.1);
        }
    }
}

.dropdown {
    width: 300px;
}
