.input {
    padding: 4px;
    font-size: 12px;
    background: transparent;
    border: 1px solid hsla(0deg, 0%, 100%, 0.1);
    padding: 8px 16px;
    border-radius: 999px;
    color: hsla(0deg, 0%, 100%, 1);
}

.color {
    cursor: pointer;
    transition: outline 0.1s ease-out;
    &:hover {
        outline: 2px solid lightblue;
    }
}
