.workspace-picker {
    width: 800px;
}

.workspace {
    margin-bottom: 24px;
}

.connection {
    cursor: pointer;
    border-radius: 999px;
    padding: 8px 16px;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 8px;
    transition: background 0.1s ease-out;
    &[data-is-active="true"],
    &:hover {
        background: hsla(0, 0%, 95%, 0.1);
    }
}

.color {
    width: 16px;
    height: 16px;
    border-radius: 999px;
}

.add-workspace-input {
    color: var(--text-color);
    background: hsla(0deg, 0%, 10%, 0.1);
    border: 1px solid hsla(0deg, 0%, 100%, 0.1);
    border-radius: 9999px;
    padding: 8px 16px;
}
