.drop-zone {
  position: absolute;
  z-index: 9999;
  top: 40px;
  height: calc(100vh - 40px);
  width: 100vw;
  background: linear-gradient(
    to bottom right,
    hsla(200deg, 80%, 40%, 0.2),
    color-mix(in hsla, var(--ui-glass-background) 20%, transparent 80%)
  );
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
