.zoom-indicator {
    position: absolute;
    left: 24px;
    bottom: 24px;
    pointer-events: all;
    border-radius: 9999px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: var(--ui-glass-background);
    border: 1px solid hsla(0deg, 0%, 100%, 0.05);
    padding: 16px;
}
