.result-shape-container {
    position: relative;
    border-radius: 16px;
}

.result-shape-container::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background: linear-gradient(
        to bottom right,
        hsla(0deg, 100%, 100%, 0.5) 0%,
        var(--ui-glass-background) 100%
    );
    mask:
        linear-gradient(hsla(0deg, 0%, 100%, 0.1) 0 0) content-box,
        linear-gradient(hsla(0deg, 0%, 100%, 0.1) 0 0);
    mask-composite: xor;
    pointer-events: none;
}

.no-results {
    border-radius: 16px;
    background: var(--ui-glass-background);
    border: 1px solid hsl(200deg, 80%, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--rp-text);
}

.mantine-Table-table {
    border-collapse: separate;
    border-spacing: 0;
}

th.header {
    background: var(--header-base);
    &.inbound {
        background: var(--inbound-key);
    }
    &.outbound {
        background: var(--outbound-key);
    }
}

.cell {
    background: var(--cell-base);
}

.inbound {
    background: var(--inbound-key);
    cursor: pointer;
    &:hover {
        background: var(--inbound-key-hover);
    }
}

.outbound {
    background: var(--outbound-key);
    cursor: pointer;
    &:hover {
        background: var(--outbound-key-hover);
    }
}

.even:not(.inbound, .outbound) {
    background: var(--cell-striped);
}

.mantine-Table-tbody tr:hover .cell {
    background: color-mix(in srgb, var(--cell-base) 80%, white 2%);
}

.mantine-Table-tbody tr:hover .even:not(.inbound, .outbound) {
    background: color-mix(in srgb, var(--cell-striped) 80%, white 2%);
}

.mantine-Table-tbody tr:hover .inbound {
    background: color-mix(in srgb, var(--inbound-key) 80%, white 2%);
}

.mantine-Table-tbody tr:hover .outbound {
    background: color-mix(in srgb, var(--outbound-key) 80%, white 2%);
}
