* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monaspace Krypton", monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/* Just remove temporarily remove this for demo purposes */
.tl-watermark_SEE-LICENSE {
    display: none !important;
}

/* Light mode styles (default) */
:root,
.light {
    --text-color: hsla(242deg, 85%, 10%);
    --text-color-subtle: hsla(40deg, 10%, 50%);
    --remove-color: hsla(10deg, 75%, 70%);

    /** Table */
    --inbound-key: hsl(80deg, 28%, 81%);
    --inbound-key-hover: hsl(80deg, 80%, 85%);
    --outbound-key: hsl(10deg, 38%, 87%);
    --outbound-key-hover: hsl(15deg, 12%, 85%);
    --border-base: hsl(40deg, 33%, 90%);
    --cell-base: hsl(40deg, 38%, 89%);
    --cell-striped: hsl(40deg, 38%, 91%);
    --header-base: var(--cell-striped);

    /** CHAT */
    --user-label: hsl(90deg, 80%, 10%);
    --assistant-label: hsl(200deg, 80%, 10%);
    --context-message: var(--mantine-color-green-1);
    --context-message-subtle: var(--mantine-color-green-2);
    --system-message: var(--mantine-color-blue-1);
    --system-message-subtle: var(--mantine-color-blue-2);

    /** UI */
    --ui-glass-background: hsl(40deg, 40%, 70%, 0.3);
    --tool-color: hsl(40deg, 30%, 50%);
    --selected-tool-color: hsl(40deg, 55%, 20%);
}

/* Dark mode styles */
.dark {
    --text-color: hsla(242deg, 45%, 90%);
    --text-color-subtle: hsla(242deg, 15%, 40%);
    --remove-color: hsla(10deg, 75%, 70%);

    /** Table */
    --inbound-key: hsl(237deg, 38%, 11%);
    --inbound-key-hover: hsl(210deg, 80%, 15%);
    --outbound-key: hsl(237deg, 38%, 7%);
    --outbound-key-hover: hsl(249deg, 12%, 15%);
    --border-base: hsl(246deg, 33%, 17%);
    --cell-base: hsl(237deg, 38%, 9%);
    --cell-striped: hsl(237deg, 38%, 9%);
    --header-base: var(--cell-striped);

    /** CHAT */
    --user-label: hsl(90deg, 80%, 80%);
    --assistant-label: hsl(200deg, 80%, 80%);
    --context-message: var(--mantine-color-green-1);
    --context-message-subtle: var(--mantine-color-green-2);
    --system-message: var(--mantine-color-blue-1);
    --system-message-subtle: var(--mantine-color-blue-2);

    /** UI */
    --ui-glass-background: hsl(240deg, 40%, 10%, 0.4);
    --tool-color: hsl(242deg, 15%, 60%);
    --selected-tool-color: hsl(242deg, 15%, 90%);
}
