* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: var(--pk-font-sans, "Inter", sans-serif);
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}
