body {
    font-family: "Monaspace Krypton", monospace;
}

:root {
    --inbound-key: hsl(210deg, 80%, 90%);
    --inbound-key-hover: hsl(210deg, 80%, 85%);
    --outbound-key: hsl(50deg, 80%, 90%);
    --outbound-key-hover: hsl(20deg, 80%, 85%);
    --border-base: hsl(0deg, 0%, 90%);
    --cell-base: hsl(20deg, 0%, 97%);
    --cell-striped: hsl(20deg, 0%, 100%);
    --header-base: hsl(20deg, 0%, 97%);
    --user-label: hsl(90deg, 80%, 30%);
    @media (prefers-color-scheme: dark) {
        --inbound-key: hsl(210deg, 80%, 10%);
        --inbound-key-hover: hsl(210deg, 80%, 15%);
        --outbound-key: hsl(150deg, 30%, 10%);
        --outbound-key-hover: hsl(150deg, 30%, 15%);
        --border-base: hsl(0deg, 0%, 10%);
        --cell-base: hsl(20deg, 0%, 3%);
        --cell-striped: hsl(20deg, 0%, 5%);
        --header-base: hsl(20deg, 0%, 5%);
        --user-label: hsl(90deg, 80%, 80%);
    }
}

.tl-container[data-color-mode="light"] {
    --inbound-key: hsl(210deg, 80%, 90%);
    --inbound-key-hover: hsl(210deg, 80%, 85%);
    --outbound-key: hsl(50deg, 80%, 90%);
    --outbound-key-hover: hsl(20deg, 80%, 85%);
    --border-base: hsl(0deg, 0%, 90%);
    --cell-base: hsl(20deg, 0%, 97%);
    --cell-striped: hsl(20deg, 0%, 100%);
    --header-base: hsl(20deg, 0%, 97%);
    --user-label: hsl(90deg, 80%, 30%);
    --assistant-label: hsl(200deg, 80%, 30%);
    --context-message: hsl(240deg, 100%, 95%);
}
.tl-container[data-color-mode="dark"] {
    --inbound-key: hsl(210deg, 80%, 10%);
    --inbound-key-hover: hsl(210deg, 80%, 15%);
    --outbound-key: hsl(150deg, 30%, 10%);
    --outbound-key-hover: hsl(150deg, 30%, 15%);
    --border-base: hsl(0deg, 0%, 10%);
    --cell-base: hsl(20deg, 0%, 3%);
    --cell-striped: hsl(20deg, 0%, 5%);
    --header-base: hsl(20deg, 0%, 5%);
    --user-label: hsl(90deg, 80%, 80%);
    --assistant-label: hsl(200deg, 80%, 80%);
    --context-message: hsl(240deg, 100%, 3%);
}
